/* src/styles/_global.css */

/* Reset default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-family-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* General container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.text-danger {
    color: var(--danger-color);
    text-align: center;
    margin-top: 1rem;
}