/* src/styles/_layout.css */

/* General container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.form-container {
    background-color: var(--light-color);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}




/* Updated for wider container */
.pages-container-center {
    display: flex;
    flex-direction: column;
    /* Centers content horizontally */
    justify-content: flex-start;
    /* Aligns content to the top vertically */
    padding-top: 2rem;
    margin: 0 auto;
}