/* src/styles/_layout.css */

/* General container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}




.full-height-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.manage-content-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* Adjust based on your layout needs */
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}