/* src/styles/_navbar.css */

.navbar {
    width: 100%;
    background-color: var(--light-color);
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #333 !important;
    margin-left: 1rem;
}

.nav-link.btn {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}