/* src/styles/_responsive.css */

@media (min-width: 100px) {
    .pages-container-center {
        width: 95%;
    }

    .auth-form {
        width: 95%;
    }

    .card-wide {
        width: 95%;
    }
}



@media (min-width: 600px) {
    .pages-container-center {
        width: 90%;
    }

    .auth-form {
        width: 70%;
    }

    .card-wide {
        width: 90%;
    }
}



@media (min-width: 768px) {
    .pages-container-center {
        width: 80%;
    }

    .auth-form {
        width: 68%;
    }

    .card-wide {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .pages-container-center {
        width: 65%;
    }

    .auth-form {
        width: 60%;
    }

    .card-wide {
        width: 70%;
    }
}

@media (min-width: 1600px) {
    .pages-container-center {
        width: 60%;
    }

    .auth-form {
        width: 50%;
    }

}




@media (min-width: 2000px) {
    .pages-container-center {
        width: 55%;
    }
}

@media (min-width: 2500px) {
    .pages-container-center {
        width: 50%;
    }
}