/* src/styles/_utilities.css */

.text-center {
    text-align: center;
}

.text-danger {
    color: var(--danger-color);
    text-align: center;
    margin-top: 1rem;
}

.m-1 {
    margin: var(--spacing-unit);
}

.p-1 {
    padding: var(--spacing-unit);
}