/* src/styles/dashboard.css */

.dashboard-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.dashboard-greeting {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.dashboard-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}