/* styles.css */

#live-detection {
    text-align: center;
}

#videoContainer {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
}

video,
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fullscreenButton {
    display: inline-block;
    margin: 10px;
}

select {
    margin: 10px;
    padding: 5px;
}

@media (max-width: 768px) {

    #fullscreenButton,
    #startDetection,
    #stopDetection,
    select {
        width: 100%;
        margin: 5px 0;
    }

    #videoContainer {
        padding-bottom: 56.25%;
    }
}