<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List of Rules</title>
</head>

<body>
    <h1>List of Rules</h1>
    <ul>
        {% for rule in rules %}
        <li>
            {{ rule.name }}
            {% if rule.name %}
            : <a href="{% url 'rules:get_rule' rule.name %}">View</a>
            | <a href="{% url 'rules:update_rule' rule.name %}">Edit</a>
            | <a href="{% url 'rules:remove_rule' rule.name %}">Delete</a>
            {% else %}
            : Name unavailable
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rules:add_rule' %}">Add New Rule</a>
</body>

</html>