{% extends 'core/base.html' %}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Admin Dashboard</h1>
            <div class="list-group">
                <a href="{% url 'admin_users' %}" class="list-group-item list-group-item-action">Users Activity</a>
                <a href="{% url 'rules:list_rules' %}" class="list-group-item list-group-item-action">Manage Rules</a>
                <a href="{% url 'rules:admin_add_location' %}" class="list-group-item list-group-item-action">Add
                    Location</a>
                <a href="{% url 'rules:admin_add_item' %}" class="list-group-item list-group-item-action">Add Item</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}