{% extends 'core/base.html' %}

{% block content %}
<h1>Select Detection Method</h1>
<div>
    <a href="{% url 'process_misplaced_manager:normal_detection' %}">
        <button>Misplaced Items using Normal Object Detection</button>
    </a>
</div>
<div>
    <a href="{% url 'process_misplaced_manager:segmentation_detection' %}">
        <button>Misplaced Items using Segmentation</button>
    </a>
</div>
<div>
    <a href="{% url 'process_misplaced_manager:upload_video' %}">
        <button>Misplaced Items using Video Detection</button>
    </a>
</div>

<div>
    <a href="{% url 'process_misplaced_manager:live_detection' %}">
        <button>Misplaced Items using Live Detection</button>
    </a>
</div>

{% endblock %}