{% extends 'core/base.html' %}
{% load static %}

{% block title %}Live Detection{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css">
{% endblock %}

{% block content %}
<div id="live-detection" class="container mt-4">
    <div id="videoContainer" class="mb-3">
        <video id="video" autoplay class="plyr__video-embed" playsinline></video>
        <canvas id="canvas"></canvas>
    </div>
    <div class="d-flex justify-content-around mb-3 flex-wrap">
        <button id="startDetection" class="btn btn-primary">Start Detection</button>
        <button id="stopDetection" class="btn btn-danger" style="display: none;">Stop Detection</button>
        <button id="fullscreenButton" class="btn btn-secondary">Fullscreen</button>
    </div>
    <div class="form-group">
        <label for="cameraSelect">Choose Camera:</label>
        <select id="cameraSelect" class="form-control"></select>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/model.js' %}"></script>
<script src="{% static 'js/camera.js' %}"></script>
<script src="{% static 'js/placement.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}